@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background-image: linear-gradient(#0a203b, #174680);
    /*background-color: #364353;*/
    background-size: cover;
    height: 100%;
    font-family: 'Numans', sans-serif;
    color : #C6C6C6;
}

.links{
    color : #C6C6C6;
}

.modal {
    color: darkblue;
}

.modal-edit-header {
    background-color: darkblue;
    color: white;
}

.modal-delete-header {
    background-color: darkred;
    color: white;
}

a {
    cursor: pointer;
}

.delete-button {
    color: red !important;
}

.file-choose {
    max-width: 300px;
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
}

.upload-file-button {
    position: absolute;
    margin-left: 10px;
}

.download-resource-button {
    width: 250px;
}
