@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background-image: linear-gradient(#010101, #3076c4);
    /*background-image: url("../images/home-background.png");*/
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    color: white;
}

.container{
    height: 100%;
    align-content: center;
}

.card{
    height: 550px;
    margin-top: auto;
    margin-bottom: auto;
    width: 1000px;
    background-color: rgba(0,0,0,0.5) !important;
    align-content: center;
}

.card-header{
    height: 50px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.card-body label{
    margin-top: 5px;
    font-size: 18px;
    margin-right: 5px;
}

.custom-select {
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}

.columns {
    max-width: 150px;
}

.file-choose {
    /*max-width: 542px;*/
    margin-right: 30px;
    margin-left: 15px;
}

.log-out-button{
    color: #C6C6C6;
    font-size: larger;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}

.calendar-icon-container {
    max-height: 38px;
    max-width: 38px;
}

.calendar-icon {
    border-bottom-right-radius: 3px !important;
    border-top-right-radius: 3px !important;
}

.date-input {
    border-bottom-left-radius: 3px !important;
    border-top-left-radius: 3px !important;
}

.custom-btn{
    color: black;
    background-color: #FFC312;
}

.custom-btn:hover{
    color: black;
    background-color: white;
}

.rectificare {
    height: 30px;
}

.custom-file label {
    margin-right: 0;
}
