<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accounting Admin Page</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{webjars/font-awesome/5.13.0/css/all.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin.css}"/>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

    <script th:if="${hasErrors == true}" th:inline="javascript">
        $(function () {
            let modalId = /*[[${modalId}]]*/ "";
            $('#'+modalId).modal('show');
        });
    </script>
</head>
<body>
    <div role="navigation">
        <div class="navbar navbar-inverse">
            <a href="/admin" class="navbar-brand links">Accounting administrator</a>
            <a th:href="@{/logout}" class="links" title="Logout"><span class="fas fa-sign-out-alt"></span>Logout</a>

            <div class="modal" th:id="modal-create">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modal-edit-header">
                            <h4 class="modal-title">Create Account</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" action="#" th:action="@{/account/create}" method="post" th:object="${newAccount}">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="createUsername">Username</label>
                                        <div class="col-md-10">

                                            <input autocomplete="off" id="createUsername" name="createUsername" type="text"
                                                   placeholder="Username" class="form-control input-md"
                                                   th:field="*{username}"/>
                                            <p th:errors="*{username}" th:if="${#fields.hasErrors('username')}" style="color:Red;"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="createPassword">Password</label>
                                        <div class="col-md-10">
                                            <input autocomplete="new-password" id="createPassword" name="createPassword" type="password" placeholder="Password" class="form-control input-md"
                                                   th:field="*{password}"/>
                                            <p th:errors="*{password}" th:if="${#fields.hasErrors('password')}" style="color:Red;"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="newName">Name</label>
                                        <div class="col-md-10">
                                            <input id="newName" name="name" type="text" placeholder="Name" class="form-control input-md"
                                                   th:field="*{name}"/>
                                            <p th:errors="*{name}" th:if="${#fields.hasErrors('name')}" style="color:Red;"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="newCui">CUI</label>
                                        <div class="col-md-10">
                                            <input id="newCui" name="cui" type="text" placeholder="CUI" class="form-control input-md"
                                                   th:field="*{cui}"/>
                                            <p th:errors="*{cui}" th:if="${#fields.hasErrors('cui')}" style="color:Red;"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="newStatus">Status</label>
                                        <div class="col-md-10">
                                            <select id="newStatus" name="status" th:field="*{status}">
                                                <option th:each="status : ${accountStatuses}" th:value="${status}" th:text="${status}"
                                                        th:selected="${status=='active'}"></option>
                                            </select>
                                            <p th:errors="*{status}" th:if="${#fields.hasErrors('status')}" style="color:Red;"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="newRole">Role</label>
                                        <div class="col-md-10">
                                            <select id="newRole" name="role" th:field="*{role}">
                                                <option th:each="role : ${accountRoles}" th:value="${role}" th:text="${role}"
                                                        th:selected="${role=='USER'}"></option>
                                            </select>
                                            <p th:errors="*{role}" th:if="${#fields.hasErrors('role')}" style="color:Red;"></p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="newAccountSave"></label>
                                        <div class="col-md-10">
                                            <button id="newAccountSave" name="save" class="btn btn-primary">
                                                Save
                                            </button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center" id="contactsDiv">
        <h3>Accounts</h3>
        <a data-toggle="modal" data-target="#modal-create" th:attr="data-target='#modal-create'" style="float: right"><span class="fas fa-plus-circle"></span>New account</a>
        <hr>
        <div class="table-responsive">
            <table class="table table-striped table-bordered text-left">
                <tr>
                    <th>Username</th>
                    <th>Name</th>
                    <th>CUI</th>
                    <th>Status</th>
                    <th>Role</th>
                    <th>Option</th>
                </tr>
                <tr th:each="account : ${accounts}">
                    <td data-th-text="${account.username}">Username</td>
                    <td data-th-text="${account.name}">Name</td>
                    <td data-th-text="${account.cui}">CUI</td>
                    <td data-th-text="${account.status}">Status</td>
                    <td data-th-text="${account.role}">Role</td>
                    <td>
                        <a data-toggle="modal" data-target="#modal-edit" th:attr="data-target='#modal-edit'+${account.idAccount}"><span class="fas fa-pen"></span>Edit</a>

                        <div class="modal" th:id="modal-edit+${account.idAccount}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header modal-edit-header">
                                        <h4 class="modal-title">Edit Account</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-horizontal" action="#" th:object="${editAccount}" th:action="@{/account/edit}" method="post">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="username">Username</label>
                                                    <div class="col-md-10">

                                                        <input id="idAccount" name="idAccount" type="hidden"
                                                               placeholder="id" class="form-control input-md"
                                                               th:value="${account.idAccount}"/>

                                                        <input id="password" name="password" type="hidden" placeholder="Password" class="form-control input-md"
                                                               th:value="${account.password}"/>

                                                        <input id="username" name="username" type="text"
                                                               placeholder="Username" class="form-control input-md"
                                                               th:value="${account.username}"/>

                                                        <p th:errors="*{username}" th:if="${#fields.hasErrors('username')}" style="color:Red;"></p>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="name">Name</label>
                                                    <div class="col-md-10">
                                                        <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md"
                                                               th:value="${account.name}"
                                                        />
                                                        <p th:errors="*{name}" th:if="${#fields.hasErrors('name')}" style="color:Red;"></p>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="cui">CUI
                                                    </label>
                                                    <div class="col-md-10">
                                                        <input id="cui" name="cui" type="text" placeholder="CUI" class="form-control input-md"
                                                               th:value="${account.cui}"/>
                                                        <p th:errors="*{cui}" th:if="${#fields.hasErrors('cui')}" style="color:Red;"></p>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="status">Status</label>
                                                    <div class="col-md-10">
                                                        <select id="status" name="status">
                                                            <option th:each="status : ${accountStatuses}" th:text="${status}"
                                                                    th:value="${account.status}" th:selected="${status==account.status}"></option>
                                                        </select>
                                                        <p th:errors="*{status}" th:if="${#fields.hasErrors('status')}" style="color:Red;"></p>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="role">Role</label>
                                                    <div class="col-md-10">
                                                        <select id="role" name="role">
                                                            <option th:each="role : ${accountRoles}" th:text="${role}"
                                                                    th:value="${account.role}" th:selected="${role==account.role}"></option>
                                                        </select>
                                                        <p th:errors="*{role}" th:if="${#fields.hasErrors('role')}" style="color:Red;"></p>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="editSave"></label>
                                                    <div class="col-md-10">
                                                        <button id="editSave" name="save" class="btn btn-primary">
                                                            Save
                                                        </button>
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a data-toggle="modal" data-target="#modal-edit" th:attr="data-target='#modal-change-password'"><span class="fas fa-key"></span>Change password</a>

                        <div class="modal" th:id="modal-change-password">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header modal-edit-header">
                                        <h4 class="modal-title">Change password</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-horizontal" action="#" th:object="${editAccount}" th:action="@{/account/changePassword}" method="post">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="newPassword">New password</label>
                                                    <div class="col-md-10">
                                                        <input id="newPassword" name="newPassword" type="password" placeholder="New Password" class="form-control input-md"
                                                               th:value="*{newPassword}"
                                                        />
                                                        <p th:errors="*{newPassword}" th:if="${#fields.hasErrors('newPassword')}" style="color:Red;"></p>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label" for="confirmPassword">Confirm password</label>
                                                    <div class="col-md-10">
                                                        <input id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm Password" class="form-control input-md"
                                                               th:value="*{confirmPassword}"/>
                                                        <p th:errors="*{confirmPassword}" th:if="${#fields.hasErrors('confirmPassword')}" style="color:Red;"></p>
                                                    </div>
                                                </div>
                                                <input id="hiddenId" name="idAccount" type="hidden" placeholder="id" class="form-control input-md"
                                                       th:value="${account.idAccount}"/>

                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="savePassword"></label>
                                                    <div class="col-md-10">
                                                        <button id="savePassword" name="savePassword" class="btn btn-primary">
                                                            Change
                                                        </button>
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${account.idAccount}" class="delete-button"><span class="fas fa-trash-alt"></span>Delete</a>

                        <div class="modal modal-warning fade in" th:id="modal-warning+${account.idAccount}" >
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header modal-delete-header">
                                        <h5 class="modal-title">Delete Account</h5>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <h4>Are you sure want to delete this account?</h4>
                                    </div>
                                    <div class="modal-footer">
                                        <form action="#" th:action="@{/account/delete/{id}(id=${account.idAccount})}" method="post">
                                            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                                            <button id="deleteAccount" name="delete" class="btn"><i class="fa fa-check"></i>&nbsp;Yes</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
