<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Error page</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/error.css}"/>
</head>
<body>
<div id="error">
	<div class="error">
		<div class="error-error">
			<h1>ERROR</h1>
			<h2>Something went wrong!</h2>
		</div>
		<a href="/">Homepage</a>
	</div>
</div>
</body>
</html>
