<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{webjars/font-awesome/5.13.0/css/all.css}"/>
    <link rel="stylesheet" th:href="@{/css/registration.css}"/>
</head>
<body>
<div class="container card-container">
    <div class="d-flex justify-content-center h-100">
        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title mt-3 text-center">Create Account</h4>
                <p class="text-center">Get started with your trial account</p>
                <p class="divider-text">
                    <span class="bg-light">ENTER DETAILS</span>
                </p>
                <form autocomplete="off" method="post" th:action="@{/register}" th:object="${accountDTO}">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                        </div>
                        <input autocomplete="off" name="" class="form-control" placeholder="Denumire Entitate Publica" th:field="*{numeEntitatePublica}" type="text">
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input autocomplete="off" name="" class="form-control" placeholder="Email address" th:field="*{email}" type="email">
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input autocomplete="off" name="" class="form-control" placeholder="CUI" th:field="*{cui}" type="text">
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input autocomplete="new-password" class="form-control" placeholder="Create password" th:field="*{password}" type="password">
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input autocomplete="new-password" class="form-control" placeholder="Repeat password" th:field="*{confirmPassword}" type="password">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
                    </div> <!-- form-group// -->
                    <p class="text-center">Have an account? <a href="/">Log In</a> </p>
                </form>
            </article>
        </div>
    </div>
</div>
</body>
</html>
