<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{webjars/font-awesome/5.13.0/css/all.css}"/>
    <link rel="stylesheet" th:href="@{/css/registration.css}"/>
</head>
<body>
<div class="container card-container">
    <div class="d-flex justify-content-center h-100">
        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 500px;">
                <h4 class="card-title mt-3 text-center">Creare Cont</h4>
                <p class="text-center">Începeți cu contul dvs. de probă</p>
                <p class="divider-text">
                    <span class="bg-light">INTRODUCEȚI DETALIILE</span>
                </p>
                <form autocomplete="off" method="post" th:action="@{/register}" th:object="${accountDTO}">
                    <p class="error-text" th:errors="*{numeEntitatePublica}" th:if="${#fields.hasErrors('numeEntitatePublica')}">Nume Entitate Publica Eronat!</p>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                        </div>
                        <input autocomplete="off" name="" class="form-control" placeholder="Denumire Entitate Publică" th:field="*{numeEntitatePublica}" type="text">
                    </div>
                    <p class="error-text" th:errors="*{email}" th:if="${#fields.hasErrors('email')}">E-mail Eronat!</p>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input autocomplete="off" name="" class="form-control" placeholder="Adresă de email" th:field="*{email}" type="email">
                    </div>
                    <p class="error-text" th:errors="*{cui}" th:if="${#fields.hasErrors('cui')}">CUI Eronat!</p>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input autocomplete="off" name="" class="form-control" placeholder="CUI" th:field="*{cui}" type="text">
                    </div>
                    <p class="error-text" th:errors="*{password}" th:if="${#fields.hasErrors('password')}">Parola Eronata!</p>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input autocomplete="new-password" class="form-control" placeholder="Introduceți Parola" th:field="*{password}" type="password">
                    </div>
                    <div th:each="error : ${#fields.errors('global')}" th:if="${#fields.hasGlobalErrors()}">
                        <p class="error-text" th:text="${error}">Validation Error!</p>
                    </div>
                    <p class="error-text" th:errors="*{confirmPassword}" th:if="${#fields.hasErrors('confirmPassword')}">Parola Eronata!</p>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input autocomplete="new-password" class="form-control" placeholder="Confirmați parola" th:field="*{confirmPassword}" type="password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Creează Cont</button>
                    </div>
                    <p class="text-center">Aveți deja un cont? <a href="/">Autentificare</a> </p>
                </form>
            </article>
            <div class="subscriptions-container">
                <div class="payment-types">
                    <div class="payment-type-container">
                        <div class="payment-type selected">
                            <i class="fas fa-credit-card fa-2x"></i>
                        </div>
                        <span class="payment-type-credit">Credit Card</span>
                    </div>
                    <div class="payment-type-container">
                        <div class="payment-type ">
                            <i class="fab fa-paypal fa-2x"></i>
                        </div>
                        <span class="payment-type-pay">PayPal</span>
                    </div>
                    <div class="payment-type-container">
                        <div class="payment-type">
                            <i class="fab fa-bitcoin fa-2x"></i>
                        </div>
                        <span class="payment-type-bitcoin">Bitcoin</span>
                    </div>
                </div>
                <div class="subscriptions">
                    <div class="subscription selected">
                        <div class="col-md-8">
                            <div class="subscription-period-label">Abonament 12 luni</div>
                            <div class="subscription-info">Suma total&#259; de plat&#259; $119.99</div>
                        </div>
                        <div class="subscription-first col-md-2">
                            <div class="subscription-value-container">
                                <span class="subscription-sign">$</span>
                                <span class="subscription-value">9</span>
                            </div>
                        </div>
                        <div class="subscription-second">
                            <div class="subscription-value-container">
                                <span class="subscription-decimal-container">
                                    <span class="subscription-decimal-value">.99</span>
                                    <span class="subscription-period">/lun&#259;</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="subscription">
                        <div class="col-md-8">
                            <div class="subscription-period-label">Abonament 3 luni</div>
                            <div class="subscription-info">Suma total&#259; de plat&#259; $59.99</div>
                        </div>
                        <div class="subscription-first col-md-2">
                            <div class="subscription-value-container">
                                <span class="subscription-sign">$</span>
                                <span class="subscription-value">19</span>
                            </div>
                        </div>
                        <div class="subscription-second">
                            <div class="subscription-value-container">
                                <span class="subscription-decimal-container">
                                    <span class="subscription-decimal-value">.99</span>
                                    <span class="subscription-period">/lun&#259;</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="subscription">
                        <div class="col-md-8">
                            <div class="subscription-period-label">Abonament lunar</div>
                            <div class="subscription-info">Suma total&#259; de plat&#259; $29.99</div>
                        </div>
                        <div class="subscription-first col-md-2">
                            <div class="subscription-value-container">
                                <span class="subscription-sign">$</span>
                                <span class="subscription-value">29</span>
                            </div>
                        </div>
                        <div class="subscription-second">
                            <div class="subscription-value-container">
                                <span class="subscription-decimal-container">
                                    <span class="subscription-decimal-value">.99</span>
                                    <span class="subscription-period">/lun&#259;</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="subscription">
                        <div class="col-md-8">
                            <div class="subscription-period-label">30 de zile gratuite</div>
                            <div class="subscription-info">&#206;n aceast&#259; perioad&#259; nu ve&#355;i fi taxat</div>
                        </div>
                        <div class="subscription-first col-md-2">
                            <div class="subscription-value-container">
                                <span class="subscription-sign">$</span>
                                <span class="subscription-value">0</span>
                            </div>
                        </div>
                        <div class="subscription-second">
                            <div class="subscription-value-container">
                                <span class="subscription-decimal-container">
                                    <span class="subscription-decimal-value">.00</span>
                                    <span class="subscription-period">/zi</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
